.key, .encryptedtext {
  background-color: $textColor;
  color: $accentColor;
  font-family: monospace;
  width: 100%;
  height: 10em;
  white-space: pre;
}

.cleartext {
  background-color: $textColor;
  color: #fff;
  font-family: monospace;
  width: 100%;
  height: 15em;
  white-space: pre;
}

